<!DOCTYPE html>
<html lang="en">
<head>
<title>12 A.M</title>
<meta charset="utf-8">
<style type="text/css">
html { background: #faeecd; }
body { color: #000; font: 25px "Arial Rounded MT Bold", Helvetica; }
h1 { text-align: center; color: rgb(40, 150, 200); font-size: 35px; font-weight: bold; }
h1c { text-align: center; color: rgb(54, 24, 131); font-size: 35px; font-weight: bold; }
h1c2 { text-align: center; color: rgb(54, 24, 131); font-size: 35px; font-weight: bold; }
</style>
</head>
<body>

<h1>★ 12 A.M. ★</h1>

<h1c> Privacy Policy / Terms and Conditions</h1c>

<p>Last updated: November 27, 2017</p>

<p>We built the 12 A.M. app as a Free app. This SERVICE is provided by  at no cost and is intended for use as is.
</p>

<p>This page is used to inform website visitors regarding my policies with the collection, use, and
disclosure of Personal Information if anyone decided to use my Service.
</p>

<p>If you choose to use my Service, then you agree to the collection and use of information in relation
to this policy. The Personal Information that I collect is used for providing and improving the
Service. I will not use or share your information with anyone except as described
in this Privacy Policy.
</p>

<p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is accessible
at 12 A.M. unless otherwise defined in this Privacy Policy.
</p>

<p><strong>Information Collection and Use</strong></p> <p>For a better experience, while using our Service, I may require you to provide us with certain
personally identifiable information, including but not limited to Username, email, comments, photos, text. The information that I request is retained on your device and is not collected by me in any way. It is stored in CloudKit where I can access abusive materail. 
</p>

<p>The app does use third party services that may collect information used to identify you.</p>

<p> I want to inform you that whenever you use my Service, in a case of an
error in the app I collect data and information (through third party products) on your phone
called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address,
device name, operating system version, the configuration of the app when utilizing my Service,
the time and date of your use of the Service, and other statistics.
</p>
<p><strong>Service Providers</strong></p> <p> I may employ third-party companies and individuals due to the following reasons:</p> <ul><li>To facilitate our Service;</li> <li>To provide the Service on our behalf;</li> <li>To perform Service-related services; or</li> <li>To assist us in analyzing how our Service is used.</li></ul> <p> I want to inform users of this Service that these third parties have access to your
Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they
are obligated not to disclose or use the information for any other purpose.
</p> <p><strong>Security</strong></p> <p> I value your trust in providing us your Personal Information, thus we are striving
to use commercially acceptable means of protecting it. But remember that no method of transmission over
the internet, or method of electronic storage is 100% secure and reliable, and I cannot guarantee
its absolute security.
</p> <p><strong>Links to Other Sites</strong></p> <p>This Service may contain links to other sites. If you click on a third-party link, you will be directed
to that site. Note that these external sites are not operated by me. Therefore, I strongly
advise you to review the Privacy Policy of these websites. I have no control over
and assume no responsibility for the content, privacy policies, or practices of any third-party sites
or services.
</p> <p><strong>Children’s Privacy</strong></p> <p>These Services do not address anyone under the age of 13. I do not knowingly collect
personally identifiable information from children under 13. In the case I discover that a child
under 13 has provided me with personal information, I immediately delete this from
our servers. If you are a parent or guardian and you are aware that your child has provided us with personal
information, please contact me so that I will be able to do necessary actions.
</p> <p><strong>Changes to This Privacy Policy</strong></p> <p> I may update our Privacy Policy from time to time. Thus, you are advised to review
this page periodically for any changes. I will notify you of any changes by posting
the new Privacy Policy on this page. These changes are effective immediately after they are posted on
this page.
</p>

<h1c2>Terms and Conditions</h1c2>


<p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the 12 A.M mobile application (the "Service") operated by 12 A.M ("us", "we", or "our").</p>

<p>Your access to and use of the Service is conditioned upon your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</p>

<p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you do not have permission to access the Service.</p>


<h2>Communications</h2>

<p>By creating an Account on our service, you agree to subscribe to newsletters, marketing or promotional materials and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>






<h2>Content</h2>

<p>Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material ("Content"). You are responsible for the Content that you post on or through the Service, including its legality, reliability, and appropriateness.</p>

<p>By posting Content on or through the Service, You represent and warrant that: (i) the Content is yours (you own it) and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms, and (ii) that the posting of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate the account of anyone found to be infringing on a copyright.</p>

<p>You retain any and all of your rights to any Content you submit, post or display on or through the Service and you are responsible for protecting those rights. We take no responsibility and assume no liability for Content you or any third party posts on or through the Service. However, by posting Content using the Service you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You agree that this license includes the right for us to make your Content available to other users of the Service, who may also use your Content subject to these Terms.</p>

<p>12 A.M has the right but not the obligation to monitor and edit all Content provided by users.</p>

<p>In addition, Content found on or through this Service are the property of 12 A.M or used with permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain, without express advance written permission from us.</p>

<p>Please respect all users. This serverice does not tolerate nudity, trolling, drugs, and basically anything illeagal or disrespectful.<p>


<h2>Accounts</h2>

<p>When you create an account with us, you guarantee that you are above the age of 18, and that the information you provide us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the immediate termination of your account on the Service.</p>

<p>You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password, whether your password is with our Service or a third-party service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>

<p>You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than you, without appropriate authorization. You may not use as a username any name that is offensive, vulgar or obscene.</p>


<h2>Links To Other Web Sites</h2>

<p>Our Service may contain links to third party web sites or services that are not owned or controlled by 12 A.M</p>

<p>12 A.M has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.</p>

<p>You acknowledge and agree that 12 A.M shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third party web sites or services.</p>

<p>We strongly advise you to read the terms and conditions and privacy policies of any third party web sites or services that you visit.</p>


<h2>Termination</h2>

<p>We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.</p>

<p>If you wish to terminate your account, you may simply discontinue using the Service.</p>

<p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>




<h2>Governing Law</h2>

<p>These Terms shall be governed and construed in accordance with the laws of Utah, United States, without regard to its conflict of law provisions.</p>

<p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have had between us regarding the Service.</p>


<h2>Changes</h2>

<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>

<p>By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use the Service.</p>


<h2>Contact Us</h2>

<p>If you have any questions about these Terms, please contact us.</p>


<p style="text-align:center"><em>Enjoy!</em></p>

</body>
</html>
